---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pustekuchen website with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Note Widget ******************* -->

 

  <!-- Features Widget *************** -->



  <!-- Content Widget **************** -->


  <!-- Content Widget **************** -->
  <!-- Features2 Widget ************** -->

  <Features2
    id="abc"
    title="Pustekuchen ABC"
    subtitle="Wichtige Dinge aus dem Alltag des Pukus"
    tagline="Unser"
    items={[
      {
        title: 'Anmeldung',
        description: "Möchten Sie, Verwandte oder Bekannte Ihr Kind im PUSTEKUCHEN anmelden? Dies ist immer dienstags von 15.30 – 16.30 Uhr oder nach telefonischer Vereinbarung möglich.",
        icon: 'tabler:circle-dashed-letter-a',
        color: 'text-purple-500',
      },
      {
        title: 'Buddelhose',
        description: "Da wir bei jedem Wetter nach draußen gehen, braucht jedes Kind zum Schutz der Kleidung eine Buddelhose, die im Kindergarten verbleibt.",
        icon: 'tabler:circle-letter-b-filled',
        color: 'text-red-500',
      },
      {
        title: 'Bewegungskindergarten',
        description:
          "Mit dem Zertifikat „Anerkannter Bewegungskindergarten des LandesSportBundes NRW“legen wir unseren pädagogischen Schwerpunkt auf die Unterstützung einer ganzheitlichen und bewegungsreichen Entwicklung der Kinder. Insbesondere besteht eine Kooperation unseres Kindergartens mit dem ortsansässigen Sportverein TuS Xanten.",
        icon: 'tabler:circle-dotted-letter-b',
        color: 'text-emerald-500',
      },
      {
        title: 'Cafeteria',
        description:
          "Im Eingangsbereich des PUSTEKUCHEN kann man sich mit einem Kaffee oder Tee in gemütlicher Runde zu einem kleinen Pläuschchen zusammensetzen. Hierzu lädt der Elternrat jeden Monat alle Eltern herzlich ein.",
        icon: 'tabler:circle-dashed-letter-c',
        color: 'text-orange-500',
      },
      {
        title: 'DPW',
        description:
          '<strong>Deutscher Paritätischer Wohlfahrtsverband</strong> Diesem Dachverband sind wir als Elterninitiative Xanten e.V. angeschlossen',
        icon: 'tabler:circle-letter-d-filled',
        color: 'text-amber-500',
      },
      {
        title: 'Elternmitwirkung',
        description:
          'Die Elternmitwirkung bietet die Möglichkeit, enge Bindungen und Vertrauensverhältnisse zwischen Eltern und Erzieherinnen aufzubauen. So können wir gemeinsam die Ziele unserer und Ihrer Erziehung in Harmonie vereinen. Es ist uns wichtig, dass nicht nur Ihre Kinder sich hier wohl und geborgen fühlen, sondern auch Sie als Eltern sich willkommen und unterstützt fühlen.',
        icon: 'tabler:circle-dotted-letter-e',
        color: 'text-pink-500',
      },
      {
        title: 'Elternsprechtag/Elterngespräche ',
        description:
          'Elternsprechtag/Elterngespräche In regelmäßigen Abständen bieten die Erzieherinnen Eltern die Möglichkeit zu einem gemeinsamen Gespräch, um sich über das Kind auszutauschen. Diese Termine sind vorwiegend samstags, um berufstätigen Eltern und vor allem auch beiden Elternteilen die Gelegenheit zu geben, das Gespräch wahrzunehmen. Es besteht ebenfalls die Möglichkeit individuelle Termine zu vereinbaren.',
        icon: 'tabler:circle-dashed-letter-e',
        color: 'text-lime-500',
      },
      {
        title: 'Frühstück',
        description: 'In unserem „Bistro“ haben die Kinder die Möglichkeit gemeinsam zu frühstücken. Die Kinder müssen nichts zum Frühstück mitbringen, da wir ein umfangreiches Frühstück für die Kinder anbieten.',
        icon: 'tabler:circle-letter-f-filled',
        color: 'text-teal-500',
      },
      {
        title: 'Freispiel',
        description: 'Freies Spiel ist „Sinn-volles“ Spiel. Die freie Spielzeit ist selbstbestimmte Zeit unserer Kinder. Sie beginnt mit der Ankunft in der Gruppe und verläuft bis zu einem gelenkten Angebot der Erzieherinnen. Selbständigkeit bedeutet für die Kinder nicht nur praktische Dinge selbst tun zu können, sondern auch eigene Entscheidungen darüber zu treffen, mit wem, was, wo, womit und wie lange sie spielen. Im freien Spiel er–leben, er–fahren und lernen die Kinder.',
        icon: 'tabler:circle-dotted-letter-f',
        color: 'text-cyan-500',
      },
      {
        title: 'Familientag',
        description: 'Im PUSTEKUCHEN feiern wir keinen Mutter- und Vatertag, sondern den internationalen Tag der Familie am 15. Mai. Diese Tradition leben wir schon seit Jahren mit unterschiedlichen Aktionen.',
        icon: 'tabler:circle-dashed-letter-f',
        color: 'text-indigo-500',
      },
      {
        title: 'Geburtstage',
        description:
          'Zu den Geburtstagen können die PUSTENKUCHENKINDER eine Kleinigkeit mitbringen. Es kann ein kleines Geschenk für die Gruppe oder etwas zu Essen (Obstsalat, eine Süßigkeit etc.) sein. Geburtstagskinder dürfen sich einen Tag vorher eines von 4 Mottos aussuchen, unter dem ihre Geburtstagsfeier gestaltet ist. Kindergartenkinder können an ihrem Geburtstag im Kindergarten zu Mittag essen, Tagesstättenkinder dürfen sich zum Geburtstag ihr Lieblingsessen wünschen.',
          icon: 'tabler:circle-letter-g-filled',
          color: 'text-violet-500',
      },
      {
        title: 'Gebärden',
        description: "Unterstützend zur Sprache nutzen unsere Erzieherinnen Gebärdenbegleitete Kommunikation, um die Verständigung zu erleichtern. So können auch die Jüngsten ihre Wünsche und Gefühle besser ausdrücken.",
        icon: 'tabler:circle-dashed-letter-g',
        color: 'text-emerald-500',
      },
      {
        title: 'Gruppennamen',
        description: "Zu Beginn eines jeden neuen Kindergartenjahres suchen die Kinder gemeinsam einen neuen Gruppennamen. Vorschläge werden gesammelt und demokratisch in der Kinderkonferenz abgestimmt.",
        icon: 'tabler:circle-dotted-letter-g',
        color: 'text-sky-500',
      },
      {
        title: 'Hausschuhe',
        description: "Zu Beginn eines jeden neuen Kindergartenjahres suchen die Kinder gemeinsam einen neuen Gruppennamen. Vorschläge werden gesammelt und demokratisch in der Kinderkonferenz abgestimmt.",
        icon: 'tabler:circle-dashed-letter-h',
        color: 'text-rose-500',
      },
      {
        title: 'Informationen',
        description: "Informationen bekommen Eltern auf verschiedene Wege. Jede Familie hat vor den Gruppenräumen ein Postfach für Briefe von den Erzieherinnen, dem Vorstand, Elternrat oder anderen Eltern. Vor den Gruppenräumen befindet sich ein Whiteboard, auf dem Erinnerungen von Terminen, Treffen von AGs u.v.m. zu finden sind. Terminzettel werden monatlich ausgehändigt und/oder per E-Mail gesendet.",
        icon: 'tabler:circle-letter-i-filled',
        color: 'text-green-500',
      },
      {
        title: 'Jahr',
        description: "Innerhalb eines Kindergartenjahres feiert der PUSTEKUCHEN trotz konfessioneller Ungebundenheit christliche Feste wie St. Martin, Weihnachten, Ostern usw., wobei der soziale Aspekt in den Vordergrund tritt, wie z.B. das Teilen zu St. Martin.",
        icon: 'tabler:circle-dotted-letter-j',
        color: 'text-fuchsia-500',
      },
      {
        title: 'Kinderkonferenz',
        description: "Eine Konferenz von und mit Kindern zu selbstgewählten Themen gibt ihnen die Möglichkeit Probleme, Ideen, Vorschläge und/oder Veränderungen zu besprechen, um aktiv das Miteinander während des Kindergartentages mitzubestimmen. So ist z.B. der „Zeigetag“ eine umgesetzte Idee unserer Kinder.",
        icon: 'tabler:circle-dashed-letter-k',
        color: 'text-purple-700',
      },
      {
        title: 'KiMiKiMi-Treff ',
        description: "In der Zeit von 10.15 Uhr – 11.15 Uhr treffen sich die PUSTEKUCHENKINDER in ihren Altersgruppen einmal pro Woche zum KiMiKiMi–Treff: Ki= Kiddis (5-6-Jährige) / Mi =Middels (4-Jährige) / Ki =Kids (3-Jährige) / Mi =Minis (2-Jährige)/ mit ein bis zwei Erzieherinnen für altersspezifische Angebote.",
        icon: 'tabler:circle-letter-k-filled',
        color: 'text-red-500',
      },
      {
        title: 'Mittagessen',
        description: "Die Küchenfeen kochen nach dem Prinzip der „optimierten Mischkost“ und nach den Bedürfnissen der Kinder. Sie gehen auf individuelle Besonderheiten wie Allergien usw. ein. Kindergartenkinder dürfen an ihrem Geburtstag auch mal mitessen, Kinder die täglich hier zu Mittag essen, dürfen sich ein Geburtstagsessen wünschen. Zur Tradition des PUSTEKUCHENS ist ein gemeinsames Weihnachtsessen geworden.",
        icon: 'tabler:circle-dashed-letter-m',
        color: 'text-orange-500',
      },
      {
        title: 'Nachmittagsangebot',
        description: "An jedem Nachmittag haben die Kinder die Möglichkeit, zum Spielen in den Kindergarten zu kommen. Während der gesamten Woche finden verschiedene Angebote/Aktionen statt.",
        icon: 'tabler:circle-letter-n-filled',
        color: 'text-amber-500',
      },
      {
        title: 'Öffnungszeiten',
        description: "Kindergartenkinder (Betreuungszeit 35 Stunden) <strong>7.15 Uhr – 12.30 Uhr</strong> und von <strong>14.30 Uhr – 16.15 Uhr</strong> oder (Betreuungszeit 35 Stunden im Block) <strong>7.15 Uhr – 14.15 Uhr</strong> oder Kindertagesstättenkinder: (Betreuungszeit 45 Stunden) <strong>7.15 Uhr – 16.15 Uhr</strong>",
        icon: 'tabler:circle-dotted-letter-o',
        color: 'text-pink-500',
      },
      {
        title: 'Projektwoche',
        description: "Zu Beginn eines Kindergartenjahres erleben die Kinder innerhalb eines Projektes das Thema ‚Farben. Gruppenübergreifend werden die Kinder je nach Alter Farben zugeordnet und können sich so mit Kindern ihres Alters identifizieren. So hat auch jede Altersgruppe ihren eigenen Namen. (siehe KiMi–KiMi-Treff)",
        icon: 'tabler:circle-dashed-letter-p',
        color: 'text-lime-500',
      },
      {
        title: 'Quatsch',
        description: "Den machen wir hier auch, mehr fällt uns zu Q nicht ein.",
        icon: 'tabler:circle-letter-q-filled',
        color: 'text-teal-500',
      },
      {
        title: 'Regeln',
        description: "Notwendige Regeln im PUSTEKUCHEN bieten den Kindern Halt und sichern den Umgang im sozialen Miteinander. Kinder wollen ihre eigenen körperlichen und seelischen Grenzen wahren, um sich sicher zu fühlen und so auch die Grenzen anderer wahren zu lernen. Sie wollen ihren eigenen Lebensraum überschauen können – darauf sind die Regeln im PUSTEKUCHEN abgestimmt, ohne die Kinder einzuschränken.",
        icon: 'tabler:circle-dotted-letter-r',
        color: 'text-cyan-500',
      },
      {
        title: 'Spielzeugtag',
        description: "Einmal im Monat haben die Kinder die Möglichkeit ein Spielzeug von zu Hause mit in den Kindergarten zu bringen. Die Kinder bekommen am vorhergehenden Tag ein Wollarmband als Gedächtnisstütze von uns mit.",
        icon: 'tabler:circle-dashed-letter-s',
        color: 'text-indigo-500',
      },
      {
        title: 'Snack',
        description: "Um den kleinen Hunger zwischen dem Mittagessen und dem Abholen zu überbrücken, bieten wir allen Kindern einen kleinen Snack bestehend z.B. aus Obst, Keksen und/oder Ähnlichem an. In gemütlicher Atmosphäre und bei einem Getränk wird dann fröhlich geknabbert und einer Geschichte gelauscht.",
        icon: 'tabler:circle-letter-s-filled',
        color: 'text-violet-500',
      },
      {
        title: 'St. Martin',
        description: "An St. Martin wird die Legende nachgespielt und die Kinder können die Mantelteilung hautnah erleben. Beim traditionellen Martinssingen mit Eltern und Kindern werden riesige Weckmänner und von den Kindern selbst gebackene Kekse geteilt und mit selbst gebastelten Laternen geht es in den APX, um sich die Mantelteilung in der Arena anzuschauen.",
        icon: 'tabler:circle-dotted-letter-s',
        color: 'text-sky-500',
      },
      {
        title: 'Turnen',
        description: "Die Kinder benötigen Turnsachen, die im Kindergarten verbleiben. Die Kinder brauchen zum Turnen: Turnschläppchen oder Stoppersocken, ein T-Shirt und eine Turnhose. Einmal in der Woche neben dem täglichen Bewegungsangebot findet das Turnen für jede Gruppe statt.",
        icon: 'tabler:circle-dashed-letter-t',
        color: 'text-rose-500',
      },
      {
        title: 'Urlaub',
        description: "Urlaubszeiten im PUSTEKUCHEN sind an den Ferienzeiten der Schulen orientiert. In der Regel bleibt der Kindergarten während der Sommerferien mindestens drei Wochen geschlossen, um Ostern, zwischen Weihnachten und Neujahr mindestens eine Woche. Manchmal schließen wir auch an Brückentagen z.B. an dem Freitag nach Christi Himmelfahrt. Die Schließungstage geben wir ca. Mitte Oktober bekannt.",
        icon: 'tabler:circle-letter-u-filled',
        color: 'text-green-500',
      },
      {
        title: 'Vorstand',
        description: "Der Vorstand des PUSTEKUCHENS setzt sich aus engagierten ehrenamtlichen Vereinsmitgliedern/Eltern zusammen, ohne die unsere Kindergartenarbeit nicht möglich wäre.",
        icon: 'tabler:circle-dotted-letter-v',
        color: 'text-fuchsia-500',
      },
      {
        title: 'Wochenpläne',
        description: "Vor den Gruppenräumen befindet sich der Wochenplan. Dieser gibt Auskunft über das Geschehen während des Vormittags. Um auf die Bedürfnisse und Interessen der Kinder situativ eingehen zu können, ist auf dem Plan das Erlebte des vorangegangenen Tages ersichtlich.",
        icon: 'tabler:circle-dashed-letter-w',
        color: 'text-purple-600',
      },
      {
        title: 'Xantener Institutionen',
        description: "Hier sind die wichtigsten Institutionen, mit denen wir zusammenarbeiten, aufgeführt: Stadt Xanten Fachberatung des DPWV Fachschulen für Sozialpädagogik Gesundheitsamt Grundschulen Landesjugendamt/Kreisjugendamt Polizei, Feuerwehr, Ärzte, Bäckerei Therapeuten Patenzahnarzt Dr. Klewes",
        icon: 'tabler:circle-letter-x-filled',
        color: 'text-red-400',
      },
      {
        title: 'Zeigetag',
        description: "Dieser Tag wurde von den Kindern innerhalb einer Kinderkonferenz beschlossen. Immer montags dürfen alle Kinder etwas von zu Hause mitbringen, um es der eigenen Gruppe während des Morgenkreises vorzuführen. Die gezeigten Dinge kommen anschließend wieder auf das Zeichen, um einen deutlichen Unterschied zum Spielzeugtag aufzuzeigen.",
        icon: 'tabler:circle-dotted-letter-z',
        color: 'text-emerald-700',
      },

    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  
</Layout>
