---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pustekuchen website with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Note Widget ******************* -->

 

  <!-- Features Widget *************** -->



  <!-- Content Widget **************** -->


  <!-- Content Widget **************** -->
  <!-- Features2 Widget ************** -->

  <Features2
    id="abc"
    title="Pustekuchen ABC"
    subtitle="Wichtige Dinge aus dem Alltag des Pukus"
    tagline="Unser"
    items={[
      {
        title: 'Anmeldung',
        description: "Möchten Sie, Verwandte oder Bekannte Ihr Kind im PUSTEKUCHEN anmelden? Dies ist immer dienstags von 15.30 – 16.30 Uhr oder nach telefonischer Vereinbarung möglich.",
        icon: 'tabler:circle-dashed-letter-a',
        color: 'text-red-500',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'tabler:circle-dotted-letter-b',
        color: 'text-orange-500',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'tabler:circle-letter-b-filled',
        color: 'text-lime-500',
      },
      {
        title: 'Cafeteria',
        description:
          "Im Eingangsbereich des PUSTEKUCHEN kann man sich mit einem Kaffee oder Tee in gemütlicher Runde zu einem kleinen Pläuschchen zusammensetzen. Hierzu lädt der Elternrat jeden Monat alle Eltern herzlich ein.",
        icon: 'tabler:circle-dotted-letter-c',
        color: 'text-amber-500',
      },
      {
        title: 'Elternmitwirkung',
        description:
          'Die Elternmitwirkung bietet die Möglichkeit, enge Bindungen und Vertrauensverhältnisse zwischen Eltern und Erzieherinnen aufzubauen. So können wir gemeinsam die Ziele unserer und Ihrer Erziehung in Harmonie vereinen. Es ist uns wichtig, dass nicht nur Ihre Kinder sich hier wohl und geborgen fühlen, sondern auch Sie als Eltern sich willkommen und unterstützt fühlen.',
        icon: 'tabler:circle-dashed-letter-e',
        color: 'text-teal-500',
      },
      {
        title: 'Frühstück',
        description: 'In unserem „Bistro“ haben die Kinder die Möglichkeit gemeinsam zu frühstücken. Die Kinder müssen nichts zum Frühstück mitbringen, da wir ein umfangreiches Frühstück für die Kinder anbieten.',
        icon: 'tabler:circle-letter-f-filled',
        color: 'text-cyan-500',
      },
      {
        title: 'Familientag',
        description: 'Im PUSTEKUCHEN feiern wir keinen Mutter- und Vatertag, sondern den internationalen Tag der Familie am 15. Mai. Diese Tradition leben wir schon seit Jahren mit unterschiedlichen Aktionen.',
        icon: 'tabler:circle-dashed-letter-f',
        color: 'text-indigo-500',
      },
      {
        title: 'Geburtstage',
        description:
          'Zu den Geburtstagen können die PUSTENKUCHENKINDER eine Kleinigkeit mitbringen. Es kann ein kleines Geschenk für die Gruppe oder etwas zu Essen (Obstsalat, eine Süßigkeit etc.) sein. Geburtstagskinder dürfen sich einen Tag vorher eines von 4 Mottos aussuchen, unter dem ihre Geburtstagsfeier gestaltet ist. Kindergartenkinder können an ihrem Geburtstag im Kindergarten zu Mittag essen, Tagesstättenkinder dürfen sich zum Geburtstag ihr Lieblingsessen wünschen.',
          icon: 'tabler:circle-dotted-letter-g',
          color: 'text-violet-500',
      },
      {
        title: 'Gruppennamen',
        description: "Zu Beginn eines jeden neuen Kindergartenjahres suchen die Kinder gemeinsam einen neuen Gruppennamen. Vorschläge werden gesammelt und demokratisch in der Kinderkonferenz abgestimmt.",
        icon: 'tabler:circle-dashed-letter-g',
        color: 'text-fuchsia-500',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  
</Layout>
