---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';


const metadata = {
  title: 'Impressionen',
};
import Gallery from '~/components/common/Gallery.astro';

const galleryImages = [
  { src: '~/assets/images/IMG_5004.webp', alt: 'Außenansicht Pustekuchen', orientation: 'landscape' },
  { src: '~/assets/images/IMG_4981.webp', alt: 'Indoor Klettergerüst', orientation: 'landscape' },
  { src: '~/assets/images/IMG_4890.webp', alt: 'Whiteboard', orientation: 'portrait' },
  { src: '~/assets/images/IMG_4974.webp', alt: 'Indoor Klettergerüst', orientation: 'landscape' },
  { src: '~/assets/images/IMG_4717.webp', alt: 'Fahrräder', orientation: 'portrait' },
  { src: '~/assets/images/IMG_4918.webp', alt: 'Kleiderschränke', orientation: 'landscape' },
  { src: '~/assets/images/bewegung.webp', alt: 'Niedrigseilgarten', orientation: 'portrait' },
  { src: '~/assets/images/buecherei.webp', alt: 'Bücherei', orientation: 'portrait' },
  { src: '~/assets/images/IMG_4836.webp', alt: 'Niedrigseilgarten', orientation: 'landscape' },
  { src: '~/assets/images/IMG_4812.webp', alt: 'Außengelände', orientation: 'landscape' },

];
---

<Layout metadata={metadata}>
    <Gallery images={galleryImages} 
    tagline="Bilder sagen mehr als Worte"
    title="Impressionen aus dem Pustekuchen"
    />
  </section>
  
</Layout>
