---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ContactUs from '~/components/widgets/Contact.astro';

const metadata = {
  title: 'Pustekuchen website with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Erfahre mehr',
        href: '#about',
        icon: 'tabler:circle-check',
      },
      { text: 'Zum Speiseplan', href: '#speiseplan', icon: 'tabler:salad' },
    ]}
    image={{ src: '~/assets/images/slider-2.jpg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Herzlich Willkommen im
      <span class="text-purple-500 dark:text-accent highlight"> Pustekuchen</span><span class="text-red-500 dark:text-green-500 highlight"> Kindergarten</span> in <span class="text-blue-400 dark:text-blue-500 highlight">Xanten</span>.
    </Fragment>
    <span class="text-accent dark:text-white highlight">kreatives</span>
    <Fragment slot="subtitle">
        <span class="font-bold font-poppins text-blue-900  dark:text-white">Unser vielseitig – kreatives pädagogisches Konzept lässt uns ihr Kind mit all seinen Bedürfnissen und Wünschen sehen.</span><p> <span class="text-accent dark:text-white highlight"></span> <span class="font-semibold font-poppins text-blue-900 dark:text-white">Durch eine klare Kommunikation auf Augenhöhe und gezieltes Mitwirken der Kinder, werden sie in ihrer Entwicklung begleitet und unterstützt.</span></p> </span>
        <br></br>

    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->



  <!-- Features Widget *************** -->

  <Features
    id="about"
    tagline="Das sind wir"
    title="Bewegung und Literatur als Grundsäule"
    subtitle="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
    items={[
      {
        title: 'Literaturkindergarten',
        description:
          'Als Literaturkindergarten präsentieren wir den Kindern ein vielfältiges Sortiment an Büchern, darunter Bilderbücher, Vorlesebücher, Sach- und Wissensbücher und vieles mehr. Unser Ziel ist es, gemeinsam mit den Kindern in fesselnde Geschichten einzutauchen und diese als Schlüssel zur Entdeckung der Welt zu nutzen.',
        icon: 'tabler:book',
        color: 'text-red-100 bg-red-500', // Example color
      },
      {
        title: 'Bewegungskindergarten',
        description:
          'Bewegungskindergärten sind spezielle Tageseinrichtungen für Kinder, die sich darauf konzentrieren, Bewegung, Psychomotorik und Umweltsensibilisierung gezielt in den täglichen Kindergartenablauf zu integrieren.',
        icon: 'tabler:run',
        color: 'text-blue-100 bg-blue-500', // Example color
      },
      {
        title: 'Buchkindergarten',
        description:
          'Das Gütesiegel Buchkita zeichnet Kindertagesstätten aus, die sich aktiv in der Leseförderung und der Lese- sowie Sprachentwicklung von Kindern engagieren. In diesen Kitas nehmen die frühkindlichen Erfahrungen mit Büchern, Erzählungen, Reimen und Schriftkultur einen zentralen Platz im pädagogischen Konzept ein.',
        icon: 'tabler:books',
        color: 'text-green-100 bg-green-500', // Example color
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="speiseplan"
    isReversed
    tagline="Speiseplan"
    title="Hier wird täglich frisch gekocht"
    items={[
      {
        title: 'täglich frisch',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'kinder gestalten speiseplan',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Obst und gemüsesnacks',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://pustekuchen-xanten.de/speiseplan.webp',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Frisch gekocht vor Ort</h3>
      Hier gibt es das leckerste Essen!
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

 

  <!-- Content Widget **************** -->



  <!-- Steps Widget ****************** -->

  <Steps
    id="elternini"
    title="Das Besondere am Pustekuchen ist die Elterninitiative"
    tagline="Die vier Kernpunkte der Elterninitative"
    items={[
      {
        title: 'Punkt 1',
        description:
          "Unser Kindergarten ist eine von Eltern selbst organisierte Kindertageseinrichtung in gemeinnütziger Trägerschaft. Wir können flexibel und initiativ auf veränderte gesellschaftliche Verhältnisse reagieren.",
        icon: 'tabler:package',
      },
      {
        title: 'Punkt 2',
        description:
          "Durch den vertrauensvollen Austausch zwischen Eltern und Team entsteht bei den Kindern ein Gefühl der Geborgenheit und Sicherheit. Als Eltern kann man sich untereinander austauschen, sich gegenseitig helfen und gemeinsam Feste feiern!",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Punkt 3',
        description:
          'Eltern bekommen einen klaren Einblick in das Kita-Leben und bringen sich im Rahmen ihrer zeitlichen Möglichkeiten, Interessen und Fertigkeiten ein.',
        icon: 'tabler:paint',
      },
      {
        title: 'Punkt 4',
        description:
          'Als eingetragener gemeinnütziger Verein erheben wir pro Kind/pro Familie einen monatlichen Beitrag von 26Euro. Die Mitglieder der Elterninitiative haben festgelegt, dass Eltern pro Jahre an 4 Aktionssamstagen teilnehmen, um die Einrichtung bei allen anfallenden Arbeiten (Gartenarbeiten, kleinere Renovierungsarbeiten etc.) zu unterstützen.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/bauklotz.jpg',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    id="abc"
    title="Pustekuchen ABC"
    subtitle="Wichtige Dinge aus dem Alltag des Pukus"
    tagline="Unser"
    items={[
      {
        title: 'Anmeldung',
        description: "Möchten Sie, Verwandte oder Bekannte Ihr Kind im PUSTEKUCHEN anmelden? Dies ist immer dienstags von 15.30 – 16.30 Uhr oder nach telefonischer Vereinbarung möglich.",
        icon: 'tabler:circle-dashed-letter-a',
        color: 'text-red-500',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'tabler:circle-dotted-letter-b',
        color: 'text-orange-500',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'tabler:circle-letter-b-filled',
        color: 'text-lime-500',
      },
      {
        title: 'Cafeteria',
        description:
          "Im Eingangsbereich des PUSTEKUCHEN kann man sich mit einem Kaffee oder Tee in gemütlicher Runde zu einem kleinen Pläuschchen zusammensetzen. Hierzu lädt der Elternrat jeden Monat alle Eltern herzlich ein.",
        icon: 'tabler:circle-dotted-letter-c',
        color: 'text-amber-500',
      },
      {
        title: 'Elternmitwirkung',
        description:
          'Die Elternmitwirkung bietet die Möglichkeit, enge Bindungen und Vertrauensverhältnisse zwischen Eltern und Erzieherinnen aufzubauen. So können wir gemeinsam die Ziele unserer und Ihrer Erziehung in Harmonie vereinen. Es ist uns wichtig, dass nicht nur Ihre Kinder sich hier wohl und geborgen fühlen, sondern auch Sie als Eltern sich willkommen und unterstützt fühlen.',
        icon: 'tabler:circle-dashed-letter-e',
        color: 'text-teal-500',
      },
      {
        title: 'Frühstück',
        description: 'In unserem „Bistro“ haben die Kinder die Möglichkeit gemeinsam zu frühstücken. Die Kinder müssen nichts zum Frühstück mitbringen, da wir ein umfangreiches Frühstück für die Kinder anbieten.',
        icon: 'tabler:circle-letter-f-filled',
        color: 'text-cyan-500',
      },
      {
        title: 'Familientag',
        description: 'Im PUSTEKUCHEN feiern wir keinen Mutter- und Vatertag, sondern den internationalen Tag der Familie am 15. Mai. Diese Tradition leben wir schon seit Jahren mit unterschiedlichen Aktionen.',
        icon: 'tabler:circle-dashed-letter-f',
        color: 'text-indigo-500',
      },
      {
        title: 'Geburtstage',
        description:
          'Zu den Geburtstagen können die PUSTENKUCHENKINDER eine Kleinigkeit mitbringen. Es kann ein kleines Geschenk für die Gruppe oder etwas zu Essen (Obstsalat, eine Süßigkeit etc.) sein. Geburtstagskinder dürfen sich einen Tag vorher eines von 4 Mottos aussuchen, unter dem ihre Geburtstagsfeier gestaltet ist. Kindergartenkinder können an ihrem Geburtstag im Kindergarten zu Mittag essen, Tagesstättenkinder dürfen sich zum Geburtstag ihr Lieblingsessen wünschen.',
          icon: 'tabler:circle-dotted-letter-g',
          color: 'text-violet-500',
      },
      {
        title: 'Gruppennamen',
        description: "Zu Beginn eines jeden neuen Kindergartenjahres suchen die Kinder gemeinsam einen neuen Gruppennamen. Vorschläge werden gesammelt und demokratisch in der Kinderkonferenz abgestimmt.",
        icon: 'tabler:circle-dashed-letter-g',
        color: 'text-fuchsia-500',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="konzept"
    title="Das wichtigste Über uns"
    subtitle="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
    tagline="kurz und bündig"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Unser Konzept',
        description:
          "Der pädagogische Ansatz ist der rote Faden, der sich durch die Kindergartenarbeit zieht und Ausgangspunkt aller Entscheidungen, die getroffen werden. In der Pädagogik findet man eine Reihe nebeneinander stehender Ansätze. Im „PUSTEKUCHEN“ haben wir uns für den Begriff “ Situationsorientierte Pädagogik“ entschieden, da dieser Überbegriff für verschiedene subjektive und lebensweltorientierte pädagogische Ansätze steht.",
      },
      {
        title: 'Unser Tagesablauf',
        description:
          'Der Kindergarten-Pustekuchen bietet mit seiner täglichen Öffnungszeit von 7:30 -16:45 Uhr sowohl die Betreuung am Vormittag, als auch über Mittag mit anschließendem Nachmittagsprogramm an. Alle Kinder sollten bis um 9:00 Uhr gebracht sein, danach beginnt der offizielle Tag im Kindergarten.',
      },
      {
        title: 'Elterninitiative –„Wir machen mit!“',
        description:
          "Der Kindergarten Pustekuchen ist ein ELTERNINITIATIVKINDERGARTEN und lebt daher vom Engagement und der Mithilfe seiner Mitglieder und Förderer. Also von den Menschen, die durch ihre Arbeit im und um den Kindergarten diesen zu etwas Besonderem machen. Die Eltern unterstützen dies durch ihren Einsatz bei den verschiedenen Aufgaben im Kindergarten.",
      },
      {
        title: "Sonstiges Bla Bla",
        description:
          "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Kinder', amount: '48' },
      { title: 'Erzieherinnen', amount: '6' },
      { title: 'Kochfrauen', amount: '2' },
      { title: 'Eltern', amount: '102' },
    ]}
  />
  <!-- contact *********** -->
  <Features2
  id="kontakt"
  title="Nehme Kontakt mit uns auf"
  tagline="Sie haben weitere Fragen, melden Sie sich gerne bei uns."
  items={[
    {
      title: 'Generale Fragen',
      description: `Ihr könnt uns gerne anrufen, Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.`,
    },
    {
      title: 'Telefon',
      description: '<a href="tel:+4928015500">+49 (2801) 55-00</a>',
      icon: 'tabler:phone',
      color: 'text-rose-400'
    },
    {
      title: 'Anfragen',
      description:
        'Generelle Fragen könnt ihr uns auch gerne mailen. Chat with us for questions about purchases, customization options, licensing for commercial use, inquiries about specific template, etc.',
    },
    {
      title: 'Email',
      description: '<a href="mailto:info@pustekuchen-xanten.de">info[at]pustekuchen-xanten.de</a>',
      icon: 'tabler:mail',
      color: 'text-purple-500'
    },
    {
      title: 'vor Ort',
      description:
        'Bei persönlichen Fragen, sprecht uns doch einfach vor Ort an. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
    },
    {
      title: 'Anschrift',
      description: 'Fildersteg 9a, 46509 Xanten',
      icon: 'tabler:map-pin',
      color: 'text-blue-500'
    },
  ]}
/>

  <!-- CallToAction Widget *********** -->
</Layout>
