---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Content2 from '~/components/widgets/Content2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import ContactUs from '~/components/widgets/Contact.astro';

const metadata = {
  title: 'Pustekuchen Xanten Webseite',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Erfahre mehr',
        href: '#wir',
        icon: 'tabler:circle-check',
      },
      
      
    ]}
    image={{ src: '~/assets/images/slider-2.jpg', alt: 'Pustekuchen Gebäude' }}
  >
    <Fragment slot="title">
      <span class="text-blue-600">Herzlich</span> <span class="text-red-600"> Willkommen</span> <span class="text-yellow-400"> im</span> <span class="text-green-600"> Pustekuchen</span>
    </Fragment>

    <Fragment slot="subtitle">
        <span class="font-black font-poppins text-black  dark:text-white">dem Elterninitiativkindergarten in Xanten<p> <span class="text-accent dark:text-white highlight"></span> <span class="font-bold font-poppins text-black dark:text-white"><br>Wir sind ausgezeichneter <span class="text-blue-600 text-xl">Bewegungs-</span> und <span class="text-red-600 text-xl">Literaturkindergarten</span> und dürfen den Titel <span class="text-yellow-400 text-xl">Buchkita</span> tragen.</br></br> Unser vielseitig – kreatives pädagogisches Konzept lässt uns ihr Kind mit all seinen Bedürfnissen und Wünschen sehen. <br><br>Durch eine klare Kommunikation auf Augenhöhe und gezieltes Mitwirken der Kinder, werden sie in ihrer Entwicklung begleitet und unterstützt.</br></br></span> </span></p> </span>
        <span><br></br></span>
    </Fragment>
  </Hero>

  <!-- Das sind wir Widget *************** -->

  <Content2
  isReversed
  id="wir"
  tagline="Das sind wir"
  title="Bewegung und Literatur als Grundsäule"
  subtitle=""
  items={[
    {
      title: 'Mit spannenden Geschichten die Welt entdecken',
      description:
        'Als Literaturkindergarten präsentieren wir den Kindern ein vielfältiges Sortiment an Büchern, darunter Bilderbücher, Vorlesebücher, Sach- und Wissensbücher und vieles mehr.',
        
    },
    {
      title: '',
      description:
        'Unser Ziel ist es, gemeinsam mit den Kindern in fesselnde Geschichten einzutauchen und diese als Schlüssel zur Entdeckung der Welt zu nutzen.',
    },

  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1616093266211-d98e19d1f5bc?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
    alt: 'Colorful Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Literaturkindergarten</h3>
    
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content2>

<Content2
isAfterContent
items={[
  {
    title: 'Wie Bewegung und Umweltsensibilisierung den Kindergartenalltag bereichern',
    description: `Bewegungskindergärten sind spezielle Tageseinrichtungen für Kinder, die sich darauf konzentrieren, Bewegung, Psychomotorik und Umweltsensibilisierung gezielt in den täglichen Kindergartenablauf zu integrieren.`,
  },
]}
image={{
  src: 'https://images.unsplash.com/photo-1597179300169-dce9b5b530f9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGtpbmRlciUyMHNwb3J0fGVufDB8fDB8fHwy',
  alt: 'Blueprint Image',
}}
>
<Fragment slot="content">
<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Bewegungskindergarten</h3>
</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content2>

<Content2
isReversed
items={[
  {
    title: 'Auszeichnung für Kitas mit besonderem Engagement in der Leseförderung',
    description:
      'Das Gütesiegel Buchkita zeichnet Kindertagesstätten aus, die sich aktiv in der Leseförderung und der Lese- sowie Sprachentwicklung von Kindern engagieren.',
  },
  {
    title: '',
    description:
      'In diesen Kitas nehmen die frühkindlichen Erfahrungen mit Büchern, Erzählungen, Reimen und Schriftkultur einen zentralen Platz im pädagogischen Konzept ein.',
  },

]}
image={{
  src: 'https://images.unsplash.com/photo-1497633762265-9d179a990aa6?q=80&w=1746&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
  alt: 'Colorful Image',
}}
>
<Fragment slot="content">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Buchkindergarten</h3>
  
</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content2>


<!-- Elterninitiative Widget ****************** -->

<Steps
id="elternini"
title="Das Besondere am Pustekuchen ist die Elterninitiative"
tagline="Die vier Kernpunkte der Elterninitative"
items={[
  {
    title: 'Gemeinsam gestalten',
    description:
      "Unser Kindergarten ist eine von Eltern selbst organisierte Kindertageseinrichtung in gemeinnütziger Trägerschaft. Wir können flexibel und initiativ auf veränderte gesellschaftliche Verhältnisse reagieren.",
    icon: 'tabler:brand-twilio',
  },
  {
    title: 'Miteinander wachsen',
    description:
      "Durch den vertrauensvollen Austausch zwischen Eltern und Team entsteht bei den Kindern ein Gefühl der Geborgenheit und Sicherheit. Als Eltern kann man sich untereinander austauschen, sich gegenseitig helfen und gemeinsam Feste feiern!",
    icon: 'tabler:growth',
  },
  {
    title: 'Aktiver Teil des Alltags',
    description:
      'Eltern bekommen einen klaren Einblick in das Kita-Leben und bringen sich im Rahmen ihrer zeitlichen Möglichkeiten, Interessen und Fertigkeiten ein.',
    icon: 'tabler:activity',
  },
  {
    title: 'Gemeinsam gestalten, gemeinsam tragen',
    description:
      'Als eingetragener gemeinnütziger Verein erheben wir pro Kind/pro Familie einen monatlichen Beitrag von 26Euro. Die Mitglieder der Elterninitiative haben festgelegt, dass Eltern pro Jahre an 4 Aktionssamstagen teilnehmen, um die Einrichtung bei allen anfallenden Arbeiten (Gartenarbeiten, kleinere Renovierungsarbeiten etc.) zu unterstützen.',
    icon: 'tabler:arrows-left-right',
  },
  {
    title: 'Sei dabei!',
    icon: 'tabler:check',
  },
]}
image={{
  src: '~/assets/images/bauklotz.jpg',
  alt: 'Steps image',
}}
/>




  <!-- Speiseplan Widget **************** -->

  <Content
    id="speiseplan"
    isReversed
    tagline="Speiseplan"
    title="Hier wird täglich frisch gekocht"
    items={[
      {
        title: 'täglich frisch',
        icon: 'tabler:leaf',
        description:
          'In unserer Kita wird täglich frisch gekocht! Unsere Köchinnen bereiten die Mahlzeiten direkt vor Ort mit viel Liebe und Sorgfalt zu. So stellen wir sicher, dass jedes Kind gesunde, abwechslungsreiche und leckere Speisen genießt.',
      },
      {
        title: 'Kinder gestalten Speiseplan',
        icon: 'tabler:mood-kid',
        description:
          'In unserer wöchentlichen Kinderkonferenz gestalten die Kinder aktiv den Speiseplan mit! Sie bringen ihre Ideen und Vorlieben ein und lernen spielerisch, wie eine ausgewogene Ernährung aussieht. So macht das Essen nicht nur Spaß, sondern fördert auch das Bewusstsein für gesunde Lebensmittel.',
      },
      {
        title: 'Obst und Gemüsesnacks',
        icon: 'tabler:apple',
        description:
          'Zwischen Frühstück und Mittagessen bieten wir den Kindern gesunde Snacks an. Frisches Obst, knackiges Gemüse und kleine Leckereien sorgen für Energie und gute Laune. So bleiben die Kleinen fit und gestärkt durch den Tag!',
      },
    ]}
    image={{
      src: 'https://pustekuchen-xanten.de/speiseplan.webp',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Frisch gekocht vor Ort</h3>
      Hier gibt es das leckerste Essen!
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- ABC Widget ************** -->




  <!-- kurz und bündig Widget ******************* -->

  <FAQs
    id="konzept"
    title="Das wichtigste Über uns"
    subtitle="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
    tagline="kurz und bündig"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Unser Konzept',
        description:
          "Der pädagogische Ansatz ist der rote Faden, der sich durch die Kindergartenarbeit zieht und Ausgangspunkt aller Entscheidungen, die getroffen werden. In der Pädagogik findet man eine Reihe nebeneinander stehender Ansätze. Im „PUSTEKUCHEN“ haben wir uns für den Begriff “ Situationsorientierte Pädagogik“ entschieden, da dieser Überbegriff für verschiedene subjektive und lebensweltorientierte pädagogische Ansätze steht.",
      },
      {
  title: 'Unser Tagesablauf',
  description: `
    <ul class="list-disc pl-5">
      <li>Der Kindergarten Pustekuchen hat täglich von <strong>7:30 bis 16:45 Uhr</strong> geöffnet.</li>
      <li>Betreuung am Vormittag und über Mittag mit anschließendem Nachmittagsprogramm.</li>
      <li>Alle Kinder sollten <strong>bis 9:00 Uhr</strong> gebracht werden.</li>
      <li>Danach beginnt der offizielle Tag im Kindergarten.</li>
    </ul>
  `,
},


      {
        title: 'Elterninitiative –„Wir machen mit!“',
        description:
          "Der Kindergarten Pustekuchen ist ein ELTERNINITIATIVKINDERGARTEN und lebt daher vom Engagement und der Mithilfe seiner Mitglieder und Förderer. Also von den Menschen, die durch ihre Arbeit im und um den Kindergarten diesen zu etwas Besonderem machen. Die Eltern unterstützen dies durch ihren Einsatz bei den verschiedenen Aufgaben im Kindergarten.",
      },
      {
        title: "Sonstiges Bla Bla",
        description:
          "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Kinder', amount: '48' },
      { title: 'Erzieherinnen', amount: '6' },
      { title: 'Kochfrauen', amount: '2' },
      { title: 'Eltern', amount: '102' },
    ]}
  />
  <!-- contact *********** -->
  <Features2
  id="kontakt"
  title="Nehme Kontakt mit uns auf"
  tagline="Sie haben weitere Fragen, melden Sie sich gerne bei uns."
  items={[
    {
      title: 'Anrufen',
      description: `Ihr könnt uns gerne anrufen, wenn ihr Fragen habt oder eine Beratung wünscht. Wir sind während unserer Öffnungszeiten telefonisch erreichbar und freuen uns, euch weiterzuhelfen.`,
    },
    {
      title: 'Telefon',
      description: '<a href="tel:+4928015500">+49 (2801) 55-00</a>',
      icon: 'tabler:phone',
      color: 'text-rose-400'
    },
    {
      title: 'Mail',
      description:
        'Generelle Fragen und Anfragen könnt ihr uns auch gerne per E-Mail senden. Wir bemühen uns, eure Anfragen schnellstmöglich zu beantworten und stehen für alle Anliegen zur Verfügung.',
    },
    {
      title: 'Email',
      description: '<a href="mailto:info@pustekuchen-xanten.de">info[at]pustekuchen-xanten.de</a>',
      icon: 'tabler:mail',
      color: 'text-purple-500'
    },
    {
      title: 'vor Ort',
      description:
        'Bei persönlichen Fragen oder Anliegen, sprecht uns doch einfach direkt vor Ort an. Wir sind immer gerne für euch da und nehmen uns Zeit, um eure Anliegen in einem persönlichen Gespräch zu klären.',
    },
    {
      title: 'Anschrift',
      description: 'Fildersteg 9a, 46509 Xanten',
      icon: 'tabler:map-pin',
      color: 'text-blue-500'
    },
  ]}
/>

</Layout>
