---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';


const metadata = {
  title: 'Services',
};
const tagline = "Unser Team";
const title = "Das sind unsere MitarbeiterInnen";
const isReversed = false; // Set this as needed
import Gallery from '~/components/common/Gallery.astro';

const galleryImages = [
  { src: '~/assets/images/photo1.jpg', alt: 'Beautiful Landscape', orientation: 'portrait' },
  { src: '~/assets/images/photo2.jpg', alt: 'City View', orientation: 'portrait' },
  { src: '~/assets/images/photo4.jpg', alt: 'Sunset Over the Ocean', orientation: 'landscape' },
  { src: '~/assets/images/photo2.jpg', alt: 'City View', orientation: 'portrait' },
  { src: '~/assets/images/photo4.jpg', alt: 'Sunset Over the Ocean', orientation: 'landscape' },
  { src: '~/assets/images/photo2.jpg', alt: 'City View', orientation: 'portrait' },
  { src: '~/assets/images/photo4.jpg', alt: 'Sunset Over the Ocean', orientation: 'landscape' },
  { src: '~/assets/images/photo2.jpg', alt: 'City View', orientation: 'portrait' },
  { src: '~/assets/images/photo2.jpg', alt: 'City View', orientation: 'portrait' },
  { src: '~/assets/images/photo2.jpg', alt: 'City View', orientation: 'portrait' },
  { src: '~/assets/images/photo4.jpg', alt: 'Sunset Over the Ocean', orientation: 'landscape' },
  { src: '~/assets/images/photo2.jpg', alt: 'City View', orientation: 'portrait' },

];
---

<Layout metadata={metadata}>
  <section class="py-12">
    <h6 class="text-xl text-color-green-500 text-center mb-8">Impressionen</h6>
    <h2 class="text-3xl font-bold text-center mb-8">Impressionen</h2>
    <Gallery images={galleryImages} />
  </section>
  
</Layout>
