---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pustekuchen Xanten — Unser Team',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Sandra **************** -->
  <Content
    isReversed
    tagline="Unser Team"
    title="Das sind unsere MitarbeiterInnen"
    headerImage="~/assets/images/header-team.jpg" 
    items={[
      {
        title: 'Teammanager',
        icon: 'tabler:heart',
        },
      {
        title: 'Organisationstalent',
        icon: 'tabler:calendar-bolt',
      },

    ]}
    image={{
      src: '~/assets/images/sandra.jpg',
      alt: 'Sandra Schmitthüsen',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Sandra Schmitthüsen</h3>
      Pädagogoische Leitung
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Ivonne **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Musikspezialistin',
        icon: 'tabler:music',
        },
      {
        title: 'Kommunikationstalent',
        icon: 'tabler:message-circle',
      },

    ]}
    image={{
      src: '~/assets/images/ivonne.jpg',
      alt: 'Ivonne Kempkes',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ivonne Kempkes</h3>
    Erzieherin / stellv. Leitung
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Nicole **************** -->
  <Content
  isReversed
  items={[
    {
      title: 'Bewegungsexpertin',
      icon: 'tabler:stretching-2',
      },
    {
      title: 'Inklusionsverfächterin',
      icon: 'tabler:link-plus',
    },

  ]}
  image={{
    src: '~/assets/images/nicole.jpg',
    alt: 'Nicole Kraska',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Nicole Kraska</h3>
    Erzieherin / Motopädagogin
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

  <!-- Lea **************** -->
<Content
isAfterContent
items={[
  {
    title: 'Gartenliebhaberin',
    icon: 'tabler:leaf',
    },
  {
    title: 'Kreativkopf',
    icon: 'tabler:edit',
  },

]}
image={{
  src: '~/assets/images/lea.jpg',
  alt: 'Lea Steltner',
}}
>
<Fragment slot="content">
<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Lea Steltner</h3>
Erzieherin
</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content>
  <!-- Svenja **************** -->
<Content
isReversed
items={[
  {
    title: 'Sportprofi',
    icon: 'tabler:bike',
    },
  {
    title: 'Bücherwurm',
    icon: 'tabler:book',
  },

]}
image={{
  src: '~/assets/images/marina.jpg',
  alt: 'Svenja',
}}
>

<Fragment slot="content">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Svenja</h3>
  Erzieherin
</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content>

  <!-- Johanna **************** -->
  <Content
  isAfterContent
  items={[
    {
      title: 'kommt noch',
      icon: 'tabler:leaf',
      },
    {
      title: 'kommt noch',
      icon: 'tabler:edit',
    },
  
  ]}
  image={{
    src: '~/assets/images/lea.jpg',
    alt: 'Johanna',
  }}
  >
  <Fragment slot="content">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Johanna</h3>
  Erzieherin
  </Fragment>
  
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
  </Content>

  <CallToAction
  title="Unser Vorstand"
  subtitle="Marie, Andreas, Rebecca, Melanie"
  image="~/assets/images/forteam.jpg"
/>
<CallToAction
title="Der Elternbeirat"
subtitle="Marie, Andreas, Rebecca, Melanie"
image="~/assets/images/forteam.jpg"
/>

<!--  **************** -->
  
</Layout>
