---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pustekuchen Xanten — Unser Team',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Sandra **************** -->
  <Content
    isReversed
    tagline="Unser Team"
    title="Das sind unsere MitarbeiterInnen"
    items={[
      {
        title: 'Wenn du ein Superheld wärst, was wäre deine Superkraft und wie würdest du sie in der Kita einsetzen?',
        description:
          'Ich wäre die Schlaf-Flüsterin! Mit einem Fingerschnippen könnte ich jedes müde Kind sofort in den Tiefschlaf versetzen – und zwar genau dann, wenn ich es brauche.',
      },
      {
        title: 'Wenn du für einen Tag ein Kinderspielzeug sein könntest, welches wärst du und warum?',
        description:
          'Ich wäre definitiv der hüpfende Gummiball! Warum? Na, weil ich dann endlich überall gleichzeitig sein könnte!',
      },
      {
        title: 'Stell dir vor, du könntest jeden Tag einen neuen, verrückten Hut tragen, der deine Persönlichkeit beschreibt. Wie würde dein heutiger Hut aussehen?',
        description:
          'Mein heutiger Hut wäre eine Mischung aus einem riesigen Donut und einem Zirkuszelt, mit Glitzer und Lichtern, die wild blinken.',
      },
    ]}
    image={{
      src: '~/assets/images/sandra.jpg',
      alt: 'Sandra Schmitthüsen',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Sandra Schmitthüsen</h3>
      Pädagogoische Leitung
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Ivonne **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Wenn du ein Superheld wärst, was wäre deine Superkraft und wie würdest du sie in der Kita einsetzen?',
        description:
          'Ich wäre die Schlaf-Flüsterin! Mit einem Fingerschnippen könnte ich jedes müde Kind sofort in den Tiefschlaf versetzen – und zwar genau dann, wenn ich es brauche.',
      },
      {
        title: 'Wenn du für einen Tag ein Kinderspielzeug sein könntest, welches wärst du und warum?',
        description:
          'Ich wäre definitiv der hüpfende Gummiball! Warum? Na, weil ich dann endlich überall gleichzeitig sein könnte!',
      },
      {
        title: 'Stell dir vor, du könntest jeden Tag einen neuen, verrückten Hut tragen, der deine Persönlichkeit beschreibt. Wie würde dein heutiger Hut aussehen?',
        description:
          'Mein heutiger Hut wäre eine Mischung aus einem riesigen Donut und einem Zirkuszelt, mit Glitzer und Lichtern, die wild blinken.',
      },
    ]}
    image={{
      src: '~/assets/images/ivonne.jpg',
      alt: 'Ivonne Kempkes',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ivonne Kempkes</h3>
    Erzieherin / stellv. Leitung
  </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- Nicole **************** -->
  <Content
  isReversed
  items={[
    {
      title: 'Wenn du ein Superheld wärst, was wäre deine Superkraft und wie würdest du sie in der Kita einsetzen?',
      description:
        'Ich wäre die Schlaf-Flüsterin! Mit einem Fingerschnippen könnte ich jedes müde Kind sofort in den Tiefschlaf versetzen – und zwar genau dann, wenn ich es brauche.',
    },
    {
      title: 'Wenn du für einen Tag ein Kinderspielzeug sein könntest, welches wärst du und warum?',
      description:
        'Ich wäre definitiv der hüpfende Gummiball! Warum? Na, weil ich dann endlich überall gleichzeitig sein könnte!',
    },
    {
      title: 'Stell dir vor, du könntest jeden Tag einen neuen, verrückten Hut tragen, der deine Persönlichkeit beschreibt. Wie würde dein heutiger Hut aussehen?',
      description:
        'Mein heutiger Hut wäre eine Mischung aus einem riesigen Donut und einem Zirkuszelt, mit Glitzer und Lichtern, die wild blinken.',
    },
  ]}
  image={{
    src: '~/assets/images/nicole.jpg',
    alt: 'Nicole Kraska',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Nicole Kraska</h3>
    Erzieherin / Motopädagogin
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>
  <!-- Lea **************** -->
<Content
isAfterContent
items={[
  {
    title: 'Wenn du ein Superheld wärst, was wäre deine Superkraft und wie würdest du sie in der Kita einsetzen?',
    description:
      'Ich wäre die Schlaf-Flüsterin! Mit einem Fingerschnippen könnte ich jedes müde Kind sofort in den Tiefschlaf versetzen – und zwar genau dann, wenn ich es brauche.',
  },
  {
    title: 'Wenn du für einen Tag ein Kinderspielzeug sein könntest, welches wärst du und warum?',
    description:
      'Ich wäre definitiv der hüpfende Gummiball! Warum? Na, weil ich dann endlich überall gleichzeitig sein könnte!',
  },
  {
    title: 'Stell dir vor, du könntest jeden Tag einen neuen, verrückten Hut tragen, der deine Persönlichkeit beschreibt. Wie würde dein heutiger Hut aussehen?',
    description:
      'Mein heutiger Hut wäre eine Mischung aus einem riesigen Donut und einem Zirkuszelt, mit Glitzer und Lichtern, die wild blinken.',
  },
]}
image={{
  src: '~/assets/images/lea.jpg',
  alt: 'Lea Steltner',
}}
>
<Fragment slot="content">
<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Lea Steltner</h3>
Erzieherin
</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content>
  <!-- Marina **************** -->
<Content
isReversed
items={[
  {
    title: 'Wenn du ein Superheld wärst, was wäre deine Superkraft und wie würdest du sie in der Kita einsetzen?',
    description:
      'Ich wäre die Schlaf-Flüsterin! Mit einem Fingerschnippen könnte ich jedes müde Kind sofort in den Tiefschlaf versetzen – und zwar genau dann, wenn ich es brauche.',
  },
  {
    title: 'Wenn du für einen Tag ein Kinderspielzeug sein könntest, welches wärst du und warum?',
    description:
      'Ich wäre definitiv der hüpfende Gummiball! Warum? Na, weil ich dann endlich überall gleichzeitig sein könnte!',
  },
  {
    title: 'Stell dir vor, du könntest jeden Tag einen neuen, verrückten Hut tragen, der deine Persönlichkeit beschreibt. Wie würde dein heutiger Hut aussehen?',
    description:
      'Mein heutiger Hut wäre eine Mischung aus einem riesigen Donut und einem Zirkuszelt, mit Glitzer und Lichtern, die wild blinken.',
  },
]}
image={{
  src: '~/assets/images/marina.jpg',
  alt: 'Marina',
}}
>
<Fragment slot="content">
  <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Marina</h3>
  Erzieherin
</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content>
<!--  **************** -->
  
</Layout>
