---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 whitespace-nowrap"
>
  <!-- Light mode logo -->
  <img src="https://pustekuchen-xanten.de/images/puku-bk.webp" alt={`${SITE?.name} Logo`} class="h-14 sm:h-16 md:h-16  dark:hidden"/>

  <!-- Dark mode logo -->
  <img src="https://pustekuchen-xanten.de/images/puku-wh.webp" alt="{SITE?.name} Dark Mode Logo" class="h-14 sm:h-16 md:h-16 hidden dark:inline"/>
</span>
